<ion-view view-title="">
    <ion-content>
    <div class="list">
                <div class="card" style="margin: 0px !important;border-bottom: 1px solid #000;">
                    <a class="item clear-bg item-bg-image" ui-sref="app.lists" style="min-height: 200px;">
                        <div class="banner_text" style="width: 80px; padding-top: 40px; margin-left:120px;">
                            <h2 style="FONT-SIZE: 16PX;FONT-WEIGHT: 600; border-top:1px solid rgba(255, 255, 255, 0.5);padding-top:5px;">HOT</h2>
                            <h3 style="FONT-SIZE: 16PX;FONT-WEIGHT: 600;">PROJECTS</h3>
                            <p style="padding-bottom:5px;border-bottom:1px solid rgba(255, 255, 255, 0.5); font-size: 12px; font-weight:300">CHANDIGARH</p>
                        </div>
                        <img src="img/img1.jpeg"  style="opacity: 1;">
                    </a>
                </div>
                <div class="card" style="margin: 0px !important;border-bottom: 1px solid #000;">
                    <a class="item clear-bg item-bg-image" ui-sref="app.lists"  style="min-height: 200px;">
                        <div class="banner_text" style="width: 180px; padding-top: 40px; margin-left:85px;">
                            <h2 style="padding-top:5px;FONT-SIZE: 16PX;FONT-WEIGHT: 600; border-top:1px solid rgba(255, 255, 255, 0.5);">UNDER CONSTRUCTION</h2>
                            <h3 style="FONT-SIZE: 16PX;FONT-WEIGHT: 600;">PROJECTS</h3>
                            <p style="padding-bottom:5px;border-bottom:1px solid rgba(255, 255, 255, 0.5); font-size: 12px; font-weight:300">CHANDIGARH</p>
                        </div>
                        <img src="img/img2.jpg" style="opacity: 1;">
                    </a>
                </div>
                <div class="card" style="margin: 0px !important;border-bottom: 1px solid #000;">
                    <a class="item clear-bg item-bg-image" ui-sref="app.lists" style="min-height: 200px;">
                        <div class="banner_text" style="width: 125px; padding-top: 40px; margin-left:115px;">
                            <h2 style="padding-top:5px;FONT-SIZE: 16PX;FONT-WEIGHT: 600; border-top:1px solid rgba(255, 255, 255, 0.5);">READY TO MOVE</h2>
                            <h3 style="FONT-SIZE: 16PX;FONT-WEIGHT: 600;">PROJECTS</h3>
                            <p style="padding-bottom:5px;border-bottom:1px solid rgba(255, 255, 255, 0.5); font-size: 12px; font-weight:300">CHANDIGARH</p>
                        </div>
                        <img src="img/img3.jpg" style="opacity: 1;">
                    </a>
                </div>
                <div class="card" style="margin: 0px !important;border-bottom: 1px solid #000;">
                    <a class="item clear-bg item-bg-image" ui-sref="app.lists" style="min-height: 200px;">
                        <div class="banner_text" style="width: 90px; padding-top: 40px; margin-left:120px;">
                            <h2 style="padding-top:5px;FONT-SIZE: 16PX;FONT-WEIGHT: 600; border-top:1px solid rgba(255, 255, 255, 0.5);">PROPERTIES</h2>
                            <h3 style="FONT-SIZE: 16PX;FONT-WEIGHT: 600;">FOR SALE</h3>
                            <p style="padding-bottom:5px;border-bottom:1px solid rgba(255, 255, 255, 0.5); font-size: 12px; font-weight:300">CHANDIGARH</p>
                        </div>
                        <img src="img/img4.jpg" style="opacity: 1;">
                    </a>
                </div>
                <div class="card" style="margin: 0px !important;border-bottom: 1px solid #000;">
                    <a class="item clear-bg item-bg-image" ui-sref="app.lists" style="min-height: 200px;">
                        <div class="banner_text" style="width: 90px; padding-top: 40px; margin-left:120px;">
                            <h2 style="padding-top:5px;FONT-SIZE: 16PX;FONT-WEIGHT: 600; border-top:1px solid rgba(255, 255, 255, 0.5);">PROPERTIES</h2>
                            <h3 style="FONT-SIZE: 16PX;FONT-WEIGHT: 600;">FOR RENT</h3>
                            <p style="padding-bottom:5px;border-bottom:1px solid rgba(255, 255, 255, 0.5); font-size: 12px; font-weight:300">CHANDIGARH</p>
                        </div>
                        <img src="img/img5.jpg" style="opacity: 1;">
                    </a>
                </div>

            </div>
            
    </ion-content>
</ion-view>
