<ion-view view-title="PANCHKULA EXTENSION">
    <ion-content>
    <div class="card panchkulaextension2">
    <img src="img/img2.jpg" style="height: 240px;">
    <h3>PANCHKULA EXTENSION</h3>
<div class="card">
   <a class="mytableft" ui-sref="app.abouttheproject">About<br/>The Project</a>
   <a class="mytabright" ui-sref="app.panchkulaextension">Panchkula <br/>Extension</a>
</div>
<div class="card">
   <a class="mytableft"  ui-sref="app.whatweareoffering">What Are<br/>We Offering</a>
   <a class="mytabright" style="padding: 35px 28px 35px 28px !important;">Why Us?</a>
</div>
    </div>
    <!--
    <div class="list panchkulaextension">
                <div class="card ">
                    <a class="item clear-bg item-bg-image" ui-sref="app.abouttheproject">
                        <div class="banner_text" style="width: 138px; margin-left:110px;">
                            <h2>About The Project</h2>
                        </div>
                        <img src="img/img1.jpg">
                    </a>
                </div>

                <div class="card">
                    <a class="item clear-bg item-bg-image" ui-sref="app.panchkulaextension">
                        <div class="banner_text" style="width: 162px; margin-left:110px;">
                            <h2>Panchkula Extension</h2>
                        </div>
                        <img src="img/img2.jpg">
                    </a>
                </div>

                <div class="card">
                    <a class="item clear-bg item-bg-image" ui-sref="app.whatweareoffering">
                        <div class="banner_text" style="width: 170px; margin-left:110px;">
                            <h2>What Are We Offering</h2>
                        </div>
                        <img src="img/img3.jpg">
                    </a>
                </div>

                <div class="card">
                    <a class="item clear-bg item-bg-image">
                        <div class="banner_text" style="width: 68px; margin-left:160px;">
                            <h2>Why Us?</h2>
                        </div>
                        <img src="img/img4.jpg">
                    </a>
                </div>
            </div>
            -->
    </ion-content>
</ion-view>
