<ion-view view-title="Contact Us">
  <ion-content>
<div class="card" style="padding: 8px;">
  <h4 style="text-align: center; font-style:underline;">CONTACT US:-</h4>
    <h5>IDYLLIC RESORTS PVT. LTD.</h5>
    <p>Corporate Office </p>
    <p>Plot No. 195,</p>
    <p> Industrial Area,</p>
    <p>Phase 1, Panchkula, 134115</p>
    <hr />
    <h5>Site Office</h5>
    <p>Panchkula Eco City,</p>
    <p>Sector 12, Adjoining HSIIDC</p>
    <p>NH 73, Panchkula Ext. 11.</p>
    
  </div>
  <div class="card" style="padding: 10px;">
    <h5>Your Help Desk Line:</h5>
    <p><a href="tel:9216590022"  style="font-size: 22px; text-decoration: none; color: #000; font-weight: 600;"><i class="icon ion-iphone" style="font-size: 25px; padding-right:15px; color: #387EF5;"></i> +91- 9216590011 </a></p>
    
    <p><a href="tel:9216590022 " style="font-size: 22px; text-decoration: none; color: #000; font-weight: 600;"><i class="icon ion-iphone" style="font-size: 25px; padding-right:15px; color: #387EF5;"></i> +91- 9216590022 </a></p>
    
    <p><a href="tel:9216590033 " style="font-size: 22px; text-decoration: none; color: #000; font-weight: 600;"><i class="icon ion-iphone" style="font-size: 25px; padding-right:15px; color: #387EF5;"></i> +91- 9216590033 </a></p>
  
  </div>
  </ion-content>

  <ion-footer-bar style="margin-bottom: 11px;">
    <button style="width: 100%; max-width: 100%;font-size: 18px;font-weight: 900;"class="button button-full button-balanced" ui-sref="app.map"> See Route On Map </button>
</ion-footer-bar>
</ion-view>