<ion-view view-title="Inquiry Form">
  <ion-content ng-controller="InquiryCtrl" class="inquiryform">

    <div class="list list-inset" style="border: none;">
      <label class="item item-input" style="border: 1px solid #ddd;"> 
        <i class="icon ion-person" style="font-size: 25px; padding-right:15px; color: #387EF5;"></i><input type="text" placeholder="Name" ng-model="name"/>  
      </label>
      <br />
      <label class="item item-input" style="border: 1px solid #ddd;">
        <i class="icon ion-email" style="font-size: 25px; padding-right:15px; color: #387EF5;"></i> <input type="email" placeholder="Email"  ng-model="email"/> 
      </label>
      <br />
      <label class="item item-input" style="border: 1px solid #ddd;">
        <i class="icon ion-iphone" style="font-size: 25px; padding-right:15px; color: #387EF5;"></i> <input type="number" placeholder="Phone Number"  ng-model="phone"/> 
      </label>
      <br />
      <label class="item item-input" style="border: 1px solid #ddd;">
        <i class="icon ion-android-locate" style="font-size: 25px; padding-right:15px; color: #387EF5;"></i> <input type="text" placeholder="Address"  ng-model="address"/>
      </label>
      <br />
      <label class="item item-input" style="border: 1px solid #ddd; ">
        <i class="icon ion-android-call" style="font-size: 25px; padding-right:15px; color: #387EF5;"></i> 
        <select  ng-model="meetingtime"  ng-change="showSelectValue(meetingtime)" style="border: none; padding: 0 130px 0px 25px; background-color: #fff; width: 100%;">
            <option value="5AM - 5PM">5AM - 5PM</option>
            <option value="5AM - 5PM">5AM - 5PM</option>
            <option value="5AM - 5PM">5AM - 5PM</option>
            <option value="5AM - 5PM">5AM - 5PM</option>
        </select>
      </label>
      <br />
      <button class="button button-block button-positive" ng-click="submitForm()"> Submit </button>
    </div>
    <div class="card" id="msg"></div>
  </ion-content>
</ion-view>
